body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 400px;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 50px;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: #ffffff;
}

.buttons-container {
    margin-top: 20px;
    margin-bottom: 30px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: #ffffff;
    cursor: pointer;
    flex: 1 1 auto;
    min-width: 150px; 
}

button:hover {
    background-color: #444;
}

.by-voizok {
    margin-top: 40px; 
    text-align: center;
    font-size: 25px;
}

.by-voizok a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.by-voizok a:hover {
    color: #1da1f2; 
}

@media (max-width: 768px) {
    button {
        min-width: 120px; 
    }
}

@media (max-width: 480px) {
    input[type="text"] {
        width: 90%; 
    }

    button {
        min-width: 100px; 
    }
}
