body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

input#domainInput {
    padding: 10px;
    font-size: 1rem;
    width: 300px;
    border-radius: 5px;
    border: 2px solid #333;
    background-color: #1f1f1f;
    color: #fff;
}

.buttons-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    margin: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #333333;
    border: 2px solid #444;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #555555;
    transform: scale(1.05);
}

.google-dorks-section {
    margin-top: 20px;
    text-align: center;
}

.google-dorks-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.google-dorks-section button {
    background-color: #1f1f1f;
    border: 2px solid #ff6f61;
    color: #ff6f61;
}

.google-dorks-section button:hover {
    background-color: #ff6f61;
    color: #fff;
}

.by-voizok {
    margin-top: 50px;
    font-size: 0.9rem;
    color: #777;
}

.by-voizok a {
    color: #ff6f61;
    text-decoration: none;
}

.by-voizok a:hover {
    text-decoration: underline;
}

#searchButton {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchButton:hover {
    background-color: #e85c50;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    input#domainInput {
        width: 100%;
    }

    .google-dorks-section h2 {
        font-size: 2rem;
    }

    button {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    input#domainInput {
        width: 100%;
        padding: 8px;
    }

    .google-dorks-section h2 {
        font-size: 1.5rem;
    }

    button {
        font-size: 0.8rem;
        padding: 6px 10px;
    }

    .container {
        height: auto;
        padding: 10px;
    }
}
